:root {
    /* Tons de Slate (Cinza Azulado) */
    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    /* Adicionado para textos escuros */

    /* Tons de Verde (Emerald / Green) */
    --emerald-100: #d1fae5;
    /* Adicionado para o fundo da badge ativa */
    --emerald-400: #0cc98dea;
    --emerald-600: #059669;
    --emerald-700: #047857;
    --green-600: #16a34a;
    /* Adicionado para toast de sucesso */


    --yellow-500: #d4d113;
    /* Tons de Azul e Indigo */
    --indigo-500: #6366f1;
    --indigo-600: #4f46e5;
    --indigo-700: #4338ca;
    --indigo-800: #3730a3;
    --blue-50: #eff6ff;
    /* Adicionado para fundo do botão de editar */
    --blue-600: #2563eb;
    /* Adicionado para cor do botão de editar e toast info */

    /* Tons de Vermelho e Rosa */
    --red-50: #fef2f2;
    /* Adicionado para fundo do botão excluir */
    --red-500: #ef4444;
    --red-600: #dc2626;
    /* Adicionado para cor do botão excluir */
    --rose-100: #ffe4e6;
    /* Adicionado para fundo da badge inativa */
    --rose-600: #e11d48;
    /* Adicionado para toast de erro */
    --rose-700: #be123c;
    /* Adicionado para cor do texto da badge inativa */

    /* Neutras e Efeitos */
    --white: #ffffff;
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

button {
    border: none;
    padding: 6px;
}

body {
    background-color: var(--slate-800);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#hud {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 95vw;
    /* height: 50px; */
    background-color: var(--slate-700);
    border-radius: 0.6rem;
    font-size: 1.5rem;
    font-weight: bold;
}

#hud-nome {
    color: var(--emerald-400);
}

#hud-timer {
    /* nao tem a cor */
    color: var(--indigo-500);
}

#hud-pares {
    /* tambem nao tem */
    color: var(--indigo-500);
}

.portal-loader {
    width: 50px;
    height: 50px;
    border: 5px solid #064e3b;
    border-top: #84cc16;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes identifier {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#resultado-api {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 15px 40px;
}

.char-card {
    background-color: transparent;
    border: none;
    border-radius: 0.75rem;
    color: white;
    text-align: center;
    /* max-width: 300px; */
    width: 350px;
    height: 150px;
    margin: 0 auto;
    position: relative;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 600ms;
    transform-style: preserve-3d;
    border-radius: 0.6rem;
}

.char-card:has([data-clicked="true"]) .card-inner {
    transform: rotateY(180deg);
}

.card-frente,
.card-verso {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 0.6rem;
}

.card-frente {
    background-color: var(--slate-700);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.card-frente img {
    width: 30%;
    border-radius: 0.6rem;
    padding: 2px;
}

.char-info {
    padding: 0.3rem;
}

.card-verso {
    background-color: var(--slate-700);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition-duration: 200ms;
}

.card-verso:hover {
    background-color: var(--emerald-400);
}

.char-card:has(.carta-revelada) .carta-desvirada {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--emerald-700);
    border: solid 3px var(--emerald-600);
    border-radius: 0.6rem;
    transition-duration: 1s;
}

[data-clicked="true"] {
    display: block;
}

#tela-inicial {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#tela-inicial .content {
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 10px;
    background-color: var(--slate-800);
    color: var(--slate-500);
    padding: 30px;
}

#tela-inicial .content .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#tela-inicial .content .top img {
    width: 50%;
}

#tela-inicial .content .top h2 {
    /* nao tem a cor dos textos amarelos na palheta de cores */
    color: var(--indigo-500);
    font-size: 2rem;
}

#tela-inicial .content .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#tela-final {
    display: none;
}

.vitoria #tela-final {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#tela-final .content {
    background-color: var(--slate-800);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 10px;
    color: var(--slate-500);
}

#tela-final .content h2 {
    /* nao tem a cor na palheta de cores */
    color: var(--yellow-500);
}

#pontuacao-ranking {
    font-size: 2rem;
    font-weight: bold;
    /* nao tem a cor */
    color: var(--emerald-100);
}

#tabela-ranking {
    background-color: var(--slate-700);
    padding: 10px;
    border-radius: 0.5rem;
    font-size: 1.3rem;
}

#tabela-ranking tbody {
    border: solid 2px var(--slate-600);
}

#tabela-ranking th,
#tabela-ranking td {
    padding: 8px;
}

.pts-ranking {
    color: var(--emerald-400);
}

#tela-final .content button {
    background-color: #162133;
    color: #f0f0f0;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

#tela-final .content button:hover {
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.425);
}

.linha-destaque {
    color: var(--yellow-500);
}